h1 {
    color: brown;               

}
/** {
    border: 2px solid blue; 
}*/

.header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

p,h2 {
    text-align: center;
}

#description {
    text-align: left;
}

#header1 {
    text-align: left;
}
